body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
}

.scoreboard {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around; /* Alterado para distribuir espaço igual entre os botões */
  margin-top: 20px;
}

button {
  flex: 1; /* Faz com que os botões ocupem a mesma largura */
  padding: 15px; /* Aumenta o tamanho do botão */
  margin: 0 10px; /* Adiciona espaço entre os botões */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#points {
  font-size: 50px;
}

#blackBtn {
  background-color: #000;
  color: #fff;
}

#yellowBtn {
  background-color: #ff0;
  color: #000;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:active {
  transform: scale(0.9);
}

#buttonContainer {
  position: relative;
}

#startBtn {
  font-size: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#homeBtn {
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
